
body {
    text-align: center;
  }
  
  svg {
    margin-top: 32px;
    border: 1px solid #aaa  !important;
  }
  
  .person rect {
    fill: #fff  !important;
    stroke: steelblue  !important;
    stroke-width: 1px  !important;
  }
  
  .person {
    font: 14px sans-serif !important;
  }
  
  .link {
    fill: none;
    stroke: #ccc!important;
    stroke-width: 1.5px !important;
  }