table {
  width: 100%;

}
th.mat-sort-header-sorted {
  color: black;
}
.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}
.mat-paginator {
  display: flex;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}
