<div class="container">

  <div class="row">
    <div class="col-12 col-md-5  mat-card">


      <h1>Meine Bienen</h1>
      <table mat-table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="breeder">
          <th mat-header-cell *matHeaderCellDef> Breeder </th>
          <td mat-cell *matCellDef="let element"> {{element.breeder.shortName}} </td>
        </ng-container>
        <ng-container matColumnDef="properties">
          <th mat-header-cell *matHeaderCellDef> year </th>
          <td mat-cell *matCellDef="let element"> {{element.fertilizationDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" (click)="setActiveRow(row, i)">
        </tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <br>

    <br>
    <br>

    <div class="col-12 col-md-5 mat-card">
      <div *ngIf="currentRowData">
        <h4>Bee Pedigree -- {{ currentRowData.name }}</h4>
        <div>
          <label><strong>Breeder:</strong></label> {{ currentRowData.breeder.shortName }}
        </div>
        <div>
          <label><strong>Eigenschaften:</strong></label>
          {{ currentRowData.properties }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentRowData.published ? "Published" : "Pending" }}
          <div *ngIf="!currentRowData.published">
            <p>Das Pedigree wird bearbeitet</p>
          </div>
        </div>
        <div>
          <label><strong>Pedigree</strong></label>
          <div class="row">
            <div class="col">
              <h1>{{ currentRowData.name }} =</h1>
            </div>
            <div class="col">
              {{ currentRowData.name }}({{ currentRowData.breeder.shortName }})=imq.{{ currentRowData.fertilizationDate }}
              :
              {{ currentRowData.queen.name }}({{ currentRowData.queen.breeder.shortName }})=imq.{{ currentRowData.queen.fertilizationDate }}
              :
            </div>
            <div class="col">
              {{ currentRowData.queen.queen.name }}({{ currentRowData.queen.queen.breeder.shortName }})=imq.{{ currentRowData.queen.queen.fertilizationDate }}
              :
              {{ currentRowData.queen.queen.queen.name }}({{ currentRowData.queen.queen.queen.breeder.shortName }})=imq.{{ currentRowData.queen.queen.queen.fertilizationDate }}
              :
            </div>

          </div>

        </div>

        <a class="btn btn-warning" (click)=" openDialogUpdate(currentRowData)">
          Edit
        </a>
        <a class="btn btn-danger" (click)="deleteTutorial(currentRowData.id)">
          Delete
        </a>
        <a class="btn btn-info">
          Export Pedigree
        </a>
      </div>


      <div *ngIf="!currentRowData">
        <br />
        <p>Please click on a Bee...</p>
      </div>
    </div>
    <div class="col-12 col-md-2  mat-card">
      <div class="sideleft">
        <button mat-raised-button (click)="openDialog()">
          <span class="material-icons">
            add
          </span> Biene Hinzufügen
        </button>
        <button mat-raised-button (click)="div1Function()">

            Zeige Stammbaum V1

        </button>
        <button mat-raised-button (click)="div2Function()">

          Zeige Stammbaum V2

      </button>
      </div>
    </div>
  </div>
</div>
<div class="container">



    <app-tree2 *ngIf="div1"></app-tree2>
    <app-tree-board-pedigree *ngIf="div2"></app-tree-board-pedigree>

</div>
