<div class="container">
  <header class="jumbotron">


    Welcome to Bee Pedigree

    <p>Features: </p>
   <li>Progressive Web App --- Installierbar als App auf allen Plattformen --> Verhält sich wie eine Desktopprogramm</li>
   <li>PWA --- Auch Offline Nutzbar ---</li>
   <li>Responsive --> Auf alle Displaygrößen angepasst</li>

   <li>Graph-Pedigree --> Zeigt den gesamten oder definierten Stammbaum</li>
   <ul>Stammbaum-Algorithmus der die beste Lesbarkeit erlaubt</ul>

   <li>Nutzerverwaltung</li>
   <ul>Abhängig vom Nutzerstatus können unterschiedliche Daten eingesehen oder Funktionen genutzt werden</ul>

   <li>Automatische Datenbankabfragen / Qualitätsmanagement</li>
   <ul>Plausibilitätsprüfungen  --> z.B wurden so viele Bienen auf Belegstelle angepaart wie eingetragen </ul>

   <li>automatisches Erstellen und Export der Pedigrees meiner Bienene</li>



  </header>
</div>
<app-tree-global></app-tree-global>
