<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>

    Welcome to Bee Pedigrre

   <p>Features: </p> 
   <li>Progressive Web App --- Installierbar als App auf allen Plattformen --> Verhält sich wie eine Desktopprogramm</li>
   <ul>PWA --- Installierbar als App auf allen Plattformen --> Verhält sich wie eine Desktopprogramm ---</ul>
   <ul>PWA --- Auch Offline Nutzbar ---</ul>
   <li>Responsive --> Auf alle Displaygrößen angepasst</li>

   <li>Graph-Pedigree --> Zeigt den Gesamten oder definierten Stammbaum</li>
   <ul>Stammbaum Algorithmus der die beste läserlichkeit erlaubt</ul>

   <li>Nutzerverwaltung</li>
   <ul>Abhängig vom Nutzerstatus können unterschiedliche Daten eingesehen oder Funktionen genutzt werden</ul>

   <li>Automatische Datenbankabfragen / Quallitätsmanagement</li>
   <ul>Plausibilitätsprüfungen  --> z.B wurden so viele Bienen auf Belegstelle angepaart wie eingetragen </ul>



  </header>
</div>
<app-tree-global></app-tree-global>