<mat-dialog-content [formGroup]="form">

  <div class="container">
    <!-- Content here -->

    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Name BXXX" formControlName="name">
        </mat-form-field>
      </div>

      <div class="col">
        <app-breeder-search [address]="form"></app-breeder-search>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-fertilization-search [address]="form"></app-fertilization-search>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="fertilizationDate 1999" formControlName="fertilizationDate">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="properties" formControlName="properties">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="description" formControlName="description">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-pedigree-queen-search [address]="form"></app-pedigree-queen-search>
    </div>
    <div class="col">
      <app-pedigree-drone-search ></app-pedigree-drone-search>
    </div>
  </div>













  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>

</mat-dialog-content>
