<p>{{ message }}</p>

<p *ngIf="UserData.length <= 0" class="no-data">There is no data added yet!</p>

<div class="container" *ngIf="UserData.length > 0">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="breeder">
        <th mat-header-cell *matHeaderCellDef> Warehouse </th>
        <td mat-cell *matCellDef="let element"> {{element.breeder}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> field </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns">
      </mat-row>




    </table>


  </div>
</div>
